<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}

        <h1>This is captureDress About Page</h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos similique harum fugit tempora molestias dolore unde voluptate, autem sit officiis voluptas architecto ea doloremque beatae iure, aliquid illum natus quidem dolor corporis, quia error? Saepe non ullam quia distinctio voluptates quaerat illum natus architecto. Asperiores blanditiis ipsam similique maxime non. Distinctio sed enim id excepturi accusantium saepe doloribus quibusdam nam ipsam nihil earum ipsum, cupiditate numquam facere quam cumque vel blanditiis error tenetur soluta quaerat tempora provident? Officia nesciunt, eius, sit rerum optio quisquam doloribus eligendi aspernatur perferendis voluptatibus repellendus.
        </p>

        <button>Click Me</button>

    </div>
    
</body>
</html>